<h3>Detalles del empleado</h3>
<div>
  <div>
    <label><b>ID : </b> {{ empleado.id }}</label>
  </div>
  <div>
    <label><b>NOMBRE DE LA SEDE : </b> {{ empleado.name }}</label>
  </div>
  <div>
    <label><b>DIRECTOR A CARGO : </b> {{ empleado.director }}</label>
  </div>
  <div>
    <label><b>NUMERO  DE TELEFONO CELULAR, FIJO O FAX  : </b> {{ empleado.telephone }}</label>
  </div>
  <div>
    <label><b>DIRECCIÓN DE LA SEDE : </b> {{ empleado.address }}</label>
  </div>
  <div>
    <label><b>DEPARTAMENTO DONDE ESTA UBICADA LA SEDE : </b> {{ empleado.department }}</label>
  </div>
</div>
